services:
  app:
    restart: unless-stopped
    build: .
    ports:
      - "3000:3000"
      - "3002:3002"
      - "5525:5525"
    environment:
      DATABASE_URL: "file:./dev.db"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npx prisma generate && npx prisma migrate deploy && npm run build && node dist/server.js"
  frontend:
    image: node:22-alpine
    working_dir: /app
    ports:
      - "3001:3001"
    environment:
      VITE_API_BASE_URL: "http://localhost:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev"
