services:
  app:
    restart: unless-stopped
    build: .
    env_file:
      - .env.production
    ports:
      - "3000:3000"
    command: sh -c "npx prisma generate && npx prisma migrate deploy && node dist/server.js"
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: blueotter
      POSTGRES_PASSWORD: NPRaKyapoXcy4XamHihxhAIVRcFhnICh
      POSTGRES_DB: blueotter
    ports:
      - "5432:5432"
      - "5433:5433"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U blueotter -d blueotter"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  pgdata:
